<script>
    $(document).ready(function () {
        $("#btnreset").click(function(){
            WebAdminApp.UserModule.resetPassword(sessionStorage.username, $("#txtnewpassword").val());
            alert("Password succesfully changed");
            $("#content").load("partials/userinfo.html");
        });

    });
</script>
<div id="resetuserpassword">
    <form role="form" class="form-vertical">
    <h3>Please Reset your password here..</h3>
    <p class="form-group">
        Old Password : <input type="password" id="txtoldpassword" class="form-control" />
    </p>
    <p class="form-group">
        New Password : <input type="password" id="txtnewpassword" class="form-control" />
    </p>
    <p class="form-group">
        Confirm Password : <input type="password" id="txtconfirmpassword" class="form-control" />
    </p>
    <p class="form-group">
        <input type="button" id="btnreset"  value="Reset Password"  class="btn btn-success"/> 
    </p>
        </form>
</div>